body {
  background-image: url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");
}

.app {
  text-align: center;
  justify-content: center;
  min-width: 400px;
  width: 50%;
  margin: auto;
}

.heading {
  align-items: center;
  align-content: center;
  font-family: fantasy;
  font-size: 50px;
  margin: 30px;
  color: mediumslateblue;
}

.heading2 {
  background: white;
  flex: 1;
  font-size: 18px;
  padding: 10px;
  word-wrap: break-word;
  overflow: auto;
}

.in {
  font-size: 16px;
  text-align: center;
  min-width: 300px;
  width: 95%;
  padding: 10px;
  border: none;
  background: antiquewhite;
}

.toDo {
  word-wrap: break-word;
  overflow: auto;
}

.deleteButton {
  float: right;
  height: 20px;
  width: 20px;
  transition: 0.2s;
}

.deleteButton:hover {
  background: #a9a9a9;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
}

@keyframes notify {
  from {
    opacity: 0;
    word-wrap: break-word;
    font-size: 0px;
  }
  to {
    opacity: 1;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    background: rgb(4, 4, 10);
    color: cyan;
    word-wrap: break-word;
  }
}

.notification {
  animation-name: notify;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.completed {
  flex: 1;
  font-size: 18px;
  padding: 10px;
  margin: 0.5px;
  word-wrap: break-word;
  overflow: auto;
}

@keyframes addTodo {
  from {
    opacity: 0;
    font-size: 0px;
  }
  to {
    opacity: 1;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 50px;
    list-style-type: none;
    font-size: 18px;
  }
}

ul li {
  animation-name: addTodo;
  animation-duration: 0.5s;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 50px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
